/*css基础样式*/
html,div,body,input,p,span,ul,li,h1,h2,h3,h4,h5,h6,a,img,form{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-size:14px;
    font-family:"微软雅黑";
    color:#333;
}
img{
    border: 0;
    vertical-align: middle;
}
input,textarea,form,textarea,button{
    border: none;
    margin: 0;
    padding: 0;
    resize: none;
    outline-style: none;
}
a{
    text-decoration: none;
    color:#333;
}

.clearfix::before,.clearfix::after{
    content:"";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix{
    zoom:1;
    /*;为了兼容ie6，7，8*/
}
[class^="icon_"]{
    background:url('../img/sou.png') no-repeat;
    background-size:20px 20px;
}